/* --------- Global style */


/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#game {
    width: 80%;
    max-width: 600px;
}

#choices button {
    padding: 10px;
    margin: 5px;
    width: 18%;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}